body {
  margin: 0;
  background-color: #333333;
  font-family:  'Roboto', sans-serif;

}
.header{
  width: 700px;
  margin: auto;
  margin-top: 15px;


}
.header-left {
  font-size: 26px;
  color: whitesmoke;
  font-weight: bold;
}
.header-right{
  display: flex;
  color: whitesmoke;
  font-weight: bold;
  font-size: 16px;
  justify-content: space-between;


}
.main{
  margin: auto;
  margin-top: 150px;
  text-align: center;
  width: 650px;

}
.main-title{
  font-size: 36px;
  color: whitesmoke;
  font-weight: bold;


}
.main-text{
  font-size:20px;
  color: white;

}
.main-button{
  width: 150px;
  height: 60px;
  color: black;
  text-align: center;
  background-color: whitesmoke;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;

}
.footer-end{
  text-align: center;
  margin-top: 150px;
  margin-bottom: 15px;

}
.footer-title{
  color:#646464;
}
.footer-link{
  color: white;
}
.footer-link:hover{
  color: white;
}
.a, .selected{
  color: white;
  border-bottom: solid 4px white;
  padding-bottom: 5px;
}
.header-right a{
  color: white;
}
.header-right a:hover{
  text-decoration: none;
  border-bottom: solid 4px #646464;
}
.rod-button{
  display: flex;
  justify-content: space-between;
}
.featurs-button{
  width: 150px;
  height: 60px;
  color: black;
  text-align: center;
  background-color: yellow;
  font-weight: bold;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 10px;
}
.main-maps{
  margin-top: 30px;
  border-radius: 100px;
}
.contact{
  width: 700px;
  margin: auto;
}
.contact-title{
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: navy;
  background-color: white;
  border-radius: 15px;
  margin-top: 30px;
}

